@use './styles/variables.scss' as vars;
@use './styles/fonts.scss' as fonts;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: vars.$plain-text-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sofia Sans Extra Condensed Regular', sans-serif;
  text-transform: uppercase;
}

:root {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  display: flex;
  align-items: start;
  min-height: 100vh;
  padding: 20px;
  margin-inline: auto;
  border: 1px solid red;
  max-inline-size: 1200px;
  min-inline-size: 430px;
  inline-size: 100%;
  background: linear-gradient(90deg, vars.$brandbook-color-1 0%, vars.$brandbook-color-2 100%);
}