.menu {
  inline-size: 100%;
  font-size: 18px;

  &LinksList {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (width < 1000px) {
      justify-content: start;
    }

    @media (width < 574px) {
      flex-direction: column;
      align-items: center;
    }
  }
}